# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Lockfile
package-lock.json

# Composer vendor directory
/vendor/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Environment and config files
storage/*.key
.env

# Homestead specific files
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit result cache
.phpunit.result.cache
